<h1>Items</h1>
<%= form_for :items do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.label :in_progress %>
  <%= f.check_box :in_progress %>

  <%= f.submit %>
<% end %>


<!-- validations -->
